compare_bins/mummer_results/*
# pretty much done with the all-bin/genome comparison, so ignore until I delete
compare_bins_orig/*

# ignore plots in .ipynb dir: 
ipython_notebooks/plots/
ipython_notebooks/160304_lost_read_investigation/plots/
ipython_notebooks/160321_unused_read_investigation/160324_explore_unmapped.csv

unused_reads/plots/

compare_fauzi_bins/*.svg

# not sure what these do!
._*  

# no longer keeping all bins in one dir: one dir for Fauzi, one for Dave, one for isolates.
compare_bins/bins/fasta_files--backup/
compare_bins/bins/fasta_files/
compare_bins/checkm-inc/
compare_bins/depreciated
compare_bins/results/mummer_results/
# ignore the copies of the bins
compare_bins/*/bins/*.fna 

# ignore depreciated strategies
depreciated/.
depreciated/*

*.bai
*.bam
*.bam.bai
*.dat
*done.*
*.DS
*.DS_Store
*.fasta
*.fasta.*  
*.fasta.amb
*.fasta.ann
*.fasta.bwt
*.fasta.fai
*.fasta.pac
*.fasta.sa
*.fastq*
*.flagstat
*.gbk
*.gff
*.pdf
*.RData
*.Rhistory
*.sam
*.sql
*.sql.*
*.swp

### PyCharm ###
*.idea

#### Python defaults ####
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
